.image {
   width: 600px;
   display: flex;
   justify-content: flex-end;
   padding-right: 50px;
   padding-top: 100px;
}
.image img {
   max-width: 450px;
}

@media (max-width:991px) {
   .image img {
      max-width: 350px;
   }
}