* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  position: relative;
  min-height: 100vh;
  background: rgb(47, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 100px;
}

@media (max-width:991px) {
  .App {
    padding: 40px;
  }
}
